<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tool to allow you to send your duplicati notifications to discord">
    <meta name="author" content="James Lloyd">
    <title>Discord Notifications for Duplicati</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body>
<div class='container'>
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none"><span class="fs-4">Duplicati Notifications</span></a>
      </header>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    {% if backups| length > 1 %}
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="BackupListButton" data-bs-toggle="dropdown" aria-expanded="false">
          Other Backups
        </button>
        <ul class="dropdown-menu" aria-labelledby="BackupListButton">
        {%for backup in backups %}<li><a class="dropdown-item {%if request.args.get('name') == backup %}disabled{% endif %}" href="{{ url_for('chart')}}?name={{backup}}&webhook={{ request.args.get('webhook') }}" >{{backup}}</a></li>{% endfor %}
        </ul>
      </div>
    {% endif %}
    <canvas id="Files" width="400" height="100"></canvas>
    <canvas id="Size" width="400" height="100"></canvas>
    <canvas id="Time" width="400" height="100"></canvas>


    <script type="text/javascript">
        var timeFormat = 'YYYY/MM/DD HH:MM:SS';
        var Filesconfig = {
            type:    'line',
            data:    {
                datasets: [
                    { backgroundColor: '#1f61f0',borderColor: '#1f61f0',fill: false,label: "Added Files", data: [{% for w in when %}{x: Date.parse("{{w}}"), y: {{addedfiles[loop.index -1]}}},  {% endfor %}] },
                    { backgroundColor: '#8b1ff0',borderColor: '#8b1ff0',fill: false,label: "Deleted Files", data: [{% for w in when %}{x: Date.parse("{{w}}"), y: {{deletedfiles[loop.index -1]}}},  {% endfor %}]},
                    { backgroundColor: '#1ff08b',borderColor: '#1ff08b',fill: false,label: "Modified Files", data: [{% for w in when %}{x: Date.parse("{{w}}"), y: {{modifiedfiles[loop.index -1]}}},  {% endfor %}]}
                    ]},
            options: {responsive: true,title: { display: true, text: "Files" }, scales: { xAxes: [{ type: "time", time: { unit: 'day', tooltipFormat: 'll' }, scaleLabel: { display: true, labelString: 'Date' }}],yAxes: [{ scaleLabel: { display: true, labelString: 'No. Files' } }] } }
        };
        var Sizeconfig = {
            type:    'line',
            data:    { datasets: [ { backgroundColor:'#f7891b',borderColor: '#f7891b',label: "backup Size",fill: false, data: [{% for w in when %}{x: Date.parse("{{w}}"), y: {{size[loop.index -1]}}},  {% endfor %}]} ]},
            options: { responsive: true, title: { display: true, text: "Size" }, scales: { xAxes: [{type: "time", time: {unit: 'day', tooltipFormat: 'll' }, scaleLabel: { display: true, labelString: 'Date'}}], yAxes: [{scaleLabel: { display: true, labelString: 'GB\'s' }}]} }
        };
        var Timeconfig = {
            type:    'line',
            data:    { datasets: [ { backgroundColor: '#f71b1b',borderColor: '#f71b1b',fill: false,label: "Time Taken", data: [{% for w in when %}{x: Date.parse("{{w}}"), y: {{timetaken[loop.index -1]}}},  {% endfor %}]} ] },
            options: { responsive: true, title: { display: true, text: "Time Taken" },
            scales:     { xAxes: [{ type: "time", time: { unit: 'day', tooltipFormat: 'll' }, scaleLabel: { display: true, labelString: 'Date' } }], yAxes: [{ scaleLabel: { display: true, labelString: 'Seconds' } }]}
            }
        };
        window.onload = function () {
            var ctx       = document.getElementById("Files").getContext("2d");
            var Sizectx   = document.getElementById("Size").getContext("2d");
            var Timectx   = document.getElementById("Time").getContext("2d");
            window.myLine = new Chart(Sizectx, Sizeconfig);
            window.myLine = new Chart(ctx, Filesconfig);
            window.myLine = new Chart(Timectx, Timeconfig);
        };

    </script>
</div>
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-top pb-3 mb-3">
        <li class="nav-item"><a href="https://james.lloyd.ws/duplicati-discord-notifications/" class="nav-link px-2 text-muted">James Lloyd</a></li>
        <li class="nav-item"><a href="https://github.com/jameslloyd/duplicati-discord-notification" class="nav-link px-2 text-muted">Github Repo</a></li>
        <li class="nav-item"><a href="https://hub.docker.com/repository/docker/jameslloyd/duplicati-notifications" class="nav-link px-2 text-muted">Docker Hub</a></li>
      </ul>
    </footer>
  </div>
</body>
</html>